name: Deploy Python Package

on:
  push:
    tags:
      - 'v*'

jobs:
  deploy:
    name: Deploy to PyPI
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          # The version checker uses 'importlib.metadata' which is Python 3.10+.
          python-version: '3.10'

      - name: Build package
        run: |
          set -e
          python3 -mvenv .venv
          source .venv/bin/activate

          pip install -U pip wheel build
          python -m build --sdist --wheel

      - name: Verify package
        run: |
          set -e
          source .venv/bin/activate

          pip install ./dist/qiskit_qasm3_import-*.whl

          # Extract the version information from the end of the tag.
          tag_version=${GITHUB_REF#refs/tags/v}
          # We could get this from the wheel filename too, but it's easier to
          # test with Python built-ins.
          wheel_version=$(python3 -c 'from importlib.metadata import version; print(version("qiskit_qasm3_import"))')

          if [[ "$tag_version" != "$wheel_version" ]]; then
            echo "Version mismatch: tag says '$tag_version', wheel says '$wheel_version'" >&2
            exit 1
          fi

          # Last-ditch validity check that the wheel actually imports.
          python3 -c 'import qiskit_qasm3_import'

      - name: Upload to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist
